# ================================
# Logs
# ================================
logs                # Carpeta de logs personalizados
*.log               # Archivos de log generales
npm-debug.log*      # Logs de npm
yarn-debug.log*     # Logs de yarn
yarn-error.log*     # Logs de errores yarn
pnpm-debug.log*     # Logs de pnpm
lerna-debug.log*    # Logs de Lerna (monorepos)

# ================================
# Dependencias
# ================================
node_modules        # Evita subir librerías instaladas, ocupan mucho espacio

# ================================
# Build / Distribución
# ================================
dist                # Build frontend (Vite/React)
dist-ssr            # Build SSR si existiera (Next.js u otro framework)

# ================================
# Variables de entorno
# ================================
.env                # Variables sensibles
*.local             # Archivos locales de configuración

# ================================
# Archivos y carpetas del editor
# ================================
.vscode/*           # Configuración VSCode, excepto extensiones compartidas
!.vscode/extensions.json
.idea               # Configuración JetBrains
.DS_Store           # Archivos ocultos macOS
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?               # Archivos temporales de editores